 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color:hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
  font-size:14px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Kumbh Sans",sans-serif;

}
main{
    background-color: #fff;
    width: 340px;
    margin-top: 50px;
    border-radius: 20px;
    position: absolute;
    /* max-height: 500px;  */
}
.image{
   margin-top: -110px;
   margin-left: 20px;
   margin-right: 30px;
  
 
}
.image-desktop{
    display: none;
}
.box-desktop{
    display: none;
}
.bg-pattern-desktop{
    display: none;
}
.image-2{
    margin: -100px 40px 0px 50px;
    
    
}
.faq-items{
    /* margin-top: -100px; */
    margin: 20px 20px 40px 20px;
   
    
}
.faq-items h2{
    font-size: 24px;
    font-family: "Kumbh Sans",sans-serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    
}
.faq-items .heading{
    width: 100%;
    position: relative;
}

.faq-items .faq-heading{
    /* /* line-height: 30px;  */
 }
.heading .arrow{
position: absolute;
top: 10px;
right: 0;
}
.heading{
    line-height: 30px;
   
}
.faq-info{
    padding-top: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq-items .item-moreInfo{
    display: none;
} 
@media  only screen and (min-width: 1000px){
    body{
        background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    main{
        background-color: #fff;
        width: 800px;
        display: flex;
        border-radius: 20px;
    }
   .image{
       display: none;
   }
   .image-2{
       display: none;
   }
   .image-desktop{
       display: block;
       margin:50px -70px 50px;
       /* margin-left: -60px; */
   }
   .box-desktop{
       display: block;
       margin-top: -270px;
       margin-left: -115px;
       

   }
   .bg-pattern-desktop{
       display: block;
       margin-top: -700px;
       margin-left: -600px;
   }
   .faq-items{
       width: 300px;
       margin-top: 50px;
       margin-left: 100px;
       
   }

}