 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color:hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
  font-size:14px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  font-family: "Kumbh Sans",sans-serif;
  overflow: hidden;

}

main{
    background-color: #fff;
    width: 340px;
    margin-top: 50px;
    /* margin-bottom: 30px; */
   

    border-radius: 20px;
    
    /* max-height: 500px;  */
    position: relative;
}
.image{
    position: absolute;
    top: -110px;
    margin-left: 27px;
    margin-right: 27px ;
  
  
  
 
}
.image-desktop{
    display: none;
}
.box-desktop{
    display: none;
}
.bg-pattern-desktop{
    display: none;
}
.image-2{
    position: absolute;
    margin-left:  50px;
    margin-right: 50px;
   
}
   
    

.faq-items{
  
    margin: 20px 20px 40px 20px;
   
    
}
.faq-items h2{
    font-size: 24px;
    font-family: "Kumbh Sans",sans-serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top:  150px ;
    
}
.faq-items .heading{
    width: 100%;
    position: relative;
}
.heading{
    line-height: 20px;
    padding-top: 10px;
}

.heading .arrow{
position: absolute;
top: 0;
right: 0;
padding-top: 10px;
}

.faq-info{
   
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq-items .item-moreInfo{
    display: none;
    padding-top: 5px;
    line-height: 20px;
} 

@media  only screen and (min-width: 1000px){
    body{
        background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    main{
        background-color: #fff;
        width: 800px;
        display: flex;
        border-radius: 20px;
        position: relative;
        
    }
   .image{
       display: none;
   }
   .image-2{
       display: none;
   }
   .image-desktop{
       display: block;
       position: absolute;
       top: 50px;
       left: -80px;
       margin: 20x;
   
   }
   .box-desktop{
    display: block;
    position: absolute;
    top: 180px;
    left: -130px;
       

   }
   .bg-pattern-desktop{
       display: block;
       position: absolute;
       top: -300px;
       left: -600px;
   }
   .faq-items{
       width: 300px;
       margin: 20px ;
       /* padding-left: 20px ; */
       position: relative;
       top: -100px;
       left: 400px;
       
   }

}